@font-face {
  font-family: "SimpsonFont";
  src: url(Simpsonfont.ttf) format("truetype");
}

body {
  margin: 0;
  text-align: center;
}

html {
  font-size: 62.5%;
}

.font {
  font-family: "SimpsonFont", sans-serif;
}

h1 {
  color: yellow;
  text-shadow: 0.25rem 0.25rem 1rem grey;
  font-size: 4rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 50vh;
}

h2 {
  font-size: 2rem;
  text-shadow: 0.25rem 0.25rem 1rem grey;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

p {
  font-size: 2.5rem;
  text-shadow: 0.25rem 0.25rem 1rem grey;
}

button {
  background-color: yellow;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 1rem 1rem 1rem grey;
  padding: 2vh 2vw;
  font-weight: bold;
  font-size: 1.5rem;
}

.background {
  background-image: url(donuts.jpg);
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  position: absolute;
}
